<% include ./partials/header %>
<style type="text/css">
    form {
        display: inline;
    }
</style>

<div class ="row text-center">
    <% if(currentUser&&(currentUser[0].id=="123124")){ %>
	   <h3><%= foundProperty.streetno %> <%= foundProperty.streetname %> <%= foundProperty.city %> <%= foundProperty.state %> </h3>

        <br>
        <br>
        <form action="/delete/<%= foundProperty.id %>?_method=delete" method="post">
            <input type="submit" class="btn btn-danger" value="Delete Property" >
        </form>

        <a href="/edit/<%= foundProperty.id %>" class="btn btn-primary">Edit Property</a>
        <a href="/" class="btn btn-danger">Take me back.</a>
    <% } else { %>
        <h3><%= foundProperty.streetno %> <%= foundProperty.streetname %> <%= foundProperty.city %> <%= foundProperty.state %> </h3>
        <br>
        <a href="/sendoffer/<%= foundProperty.id %>" class="btn btn-success" style="width: 170px;">Submit Offer.</a> &nbsp; &nbsp; 
        <a href="/sendrepairrequest/<%= foundProperty.id %>" class="btn btn-primary" style="width: 170px;">Submit Repair request.</a> &nbsp; &nbsp; 

    <% } %>

</div>

<% include ./partials/footer %>